.tdbutton {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border-radius: 0.625rem;
    transition: background 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    transition: all ease 0.1s;
  }
  .tdbutton:active {
    transform: translateY(5px);
    box-shadow: var(--common-box-shadow);
  }

.tdbuttonRound {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
    max-width: 6rem;
    max-height: 6rem;
    aspect-ratio: 1/1;
    padding: .5em;
    margin: 0.5rem;
    border-radius: 50%;
    transition: background 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    transition: all ease 0.1s;
    font-size: 0.875rem;
    transform: rotateX(20deg) translateY(-2px);
  }
  .tdbuttonRound:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px var(--primary-border-dark);
  }

/* Styles pour l'état doable (marron) */
.tdbuttonDoable {
  background-color: var(--primary-bg-lightest);
  border-color: var(--primary-border-dark);
  color: var(--primary-text-dark);
  box-shadow: 0px 5px 0px 0px var(--primary-border-dark);
}

.tdbuttonDoable:hover {
  background-color: var(--primary-bg-lightest-hover);
}

.tdbuttonDoable:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px var(--primary-border-dark);
}

/* Styles pour l'état done (vert) */
.tdbuttonDone {
  background-color: var(--secondary-bg-lightest);
  border-color: var(--secondary-border);
  color: var(--secondary-text-dark);
  transform: translateY(5px);
}

.tdbuttonDone:hover {
  background-color: var(--secondary-bg-lightest-hover);
}

.tdbuttonDone:active {
  transform: translateY(5px);
}

/* Styles pour l'état locked (gris) */
.tdbuttonLocked {
  background-color: var(--gray-bg-lightest);
  border-color: var(--gray-border);
  color: var(--gray-text);
  box-shadow: 0px 5px 0px 0px var(--gray-shadow);
}

.tdbuttonLocked:active {
  transform: rotateX(20deg) translateY(-2px);
  box-shadow: 0px 5px 0px 0px var(--gray-shadow);
}

.icon {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
  }

.tdbuttonRound .icon {
    margin-right: 0;
    margin-bottom: 0.25rem;
  }