.app {

}

.components {
  display: flex;
  gap: 1px;
  /* margin-bottom: 20px; */
  text-align: center;
}

.daily-missions {
  background-color: var(--brown-200);
  width: 300px;
  height: 400px;
  margin-left: 100px;
  position: relative;
}

.tester {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.buttons {
  width: 200px;
}

.tutorial-path {
  background-color: var(--brown-200);
  width: auto;
  height: auto;
  margin-left: 10px;
}

.grid { 
  width: 400px;
  height: fit-content;
  min-height: 400px;
  margin-left: 10px;
  background-color: var(--brown-200);
}