:root {
  /* POMOGRIND COLOR PALETTE*/

  --common-white: #ffffff;
  --common-black: #000000;
  --common-box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);

  /* === Brown palette === */
  --brown-50: #f8f5f2;
  --brown-100: #ede3dd;
  --brown-200: #dbc7bc;
  --brown-300: #c5a797;
  --brown-400: #b6917d;
  --brown-500: #a3775f;
  --brown-600: #805e4c;
  --brown-700: #5f473a;
  --brown-800: #403028;
  --brown-900: #2d1c1b;
  --brown-950: #231c18;

  --primary-bg-lightest: var(--brown-50);
  --primary-bg-lightest-hover: var(--brown-100);
  --primary-bg: var(--brown-200);
  --primary-bg-hover: var(--brown-300);
  --primary-bg-darker: var(--brown-400);
  --primary-bg-darker-hover: var(--brown-500);
  --primary-bg-dark: var(--brown-600);
  --primary-bg-dark-hover: var(--brown-700);

  --primary-text-lightest: var(--brown-200);
  --primary-text: var(--brown-600);
  --primary-text-dark: var(--brown-950);

  --primary-border-lightest: var(--brown-100);
  --primary-border: var(--brown-500);
  --primary-border-dark: var(--brown-900);

  --primary-shadow-lightest: var(--brown-400);
  --primary-shadow: var(--brown-600);
  --primary-shadow-dark: var(--brown-800);

  /* === Green palette === */
  --green-50: #f9fbf4;
  --green-100: #f2f5e8;
  --green-200: #e7ecd2;
  --green-300: #cfdaab;
  --green-400: #c6d2a0;
  --green-500: #adc178;
  --green-600: #8faa4a;
  --green-700: #6e833e;
  --green-800: #596a36;
  --green-900: #4e5b34;
  --green-950: #283017;

  --secondary-bg-lightest: var(--green-50);
  --secondary-bg-lightest-hover: var(--green-100);
  --secondary-bg: var(--green-200);
  --secondary-bg-hover: var(--green-300);
  --secondary-bg-darker: var(--green-400);
  --secondary-bg-darker-hover: var(--green-500);
  --secondary-bg-dark: var(--green-600);
  --secondary-bg-dark-hover: var(--green-700);

  --secondary-text-lightest: var(--green-200);
  --secondary-text: var(--green-600);
  --secondary-text-dark: var(--green-950);

  --secondary-border-lightest: var(--green-100);
  --secondary-border: var(--green-500);
  --secondary-border-dark: var(--green-900);

  /* === Gray palette === */
  --gray-50: #f8f9fa;
  --gray-100: #ecf0f1;
  --gray-200: #dee2e6;
  --gray-300: #bdc3c7;
  --gray-400: #6c757d;
  --gray-500: #495057;
  --gray-600: #343a40;
  --gray-700: #212529;
  --gray-800: #1a1d20;
  --gray-900: #0d1117;
  --gray-950: #000000;

  --gray-bg-lightest: var(--gray-50);
  --gray-bg-lightest-hover: var(--gray-100);
  --gray-bg: var(--gray-200);
  --gray-bg-hover: var(--gray-300);
  --gray-bg-darker: var(--gray-400);
  --gray-bg-darker-hover: var(--gray-500);
  --gray-bg-dark: var(--gray-600);
  --gray-bg-dark-hover: var(--gray-700);

  --gray-text-lightest: var(--gray-200);
  --gray-text: var(--gray-600);
  --gray-text-dark: var(--gray-950);

  --gray-border-lightest: var(--gray-100);
  --gray-border: var(--gray-500);
  --gray-border-dark: var(--gray-900);

  --gray-shadow-lightest: var(--gray-400);
  --gray-shadow: var(--gray-600);
  --gray-shadow-dark: var(--gray-800);

  /* === Tertiary palette === */
  --tertiary-a0: #ffffff;
  --tertiary-a10: #fff7dd;
  --tertiary-a20: #ffeebb;
  --tertiary-a30: #fee699;
  --tertiary-a40: #fbde76;
  --tertiary-a50: #f7d64f;
  --tertiary-a60: #c1a741;
  --tertiary-a70: #8d7a33;
  --tertiary-a80: #5c5025;
  --tertiary-a90: #302a17;
  --tertiary-a100: #000000;

  --tertiary-bg-lightest: var(--tertiary-a10);
  --tertiary-bg-lightest-hover: var(--tertiary-a20);
  --tertiary-bg: var(--tertiary-a30);
  --tertiary-bg-hover: var(--tertiary-a40);
  --tertiary-bg-darker: var(--tertiary-a50);
  --tertiary-bg-darker-hover: var(--tertiary-a60);
  --tertiary-bg-dark: var(--tertiary-a70);
  --tertiary-bg-dark-hover: var(--tertiary-a80);

  --tertiary-text-lightest: var(--tertiary-a20);
  --tertiary-text: var(--tertiary-a60);
  --tertiary-text-dark: var(--tertiary-a100);

  --tertiary-border-lightest: var(--tertiary-a10);
  --tertiary-border: var(--tertiary-a50);
  --tertiary-border-dark: var(--tertiary-a90);

  --tertiary-shadow-lightest: var(--tertiary-a40);
  --tertiary-shadow: var(--tertiary-a60);
  --tertiary-shadow-dark: var(--tertiary-a80);

}