.tdbutton {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border-radius: 0.625rem;
    border: 2px solid var(--brown-900);
    /* background-color: #f0f0f0; */
    color: var(--brown-950);
    transition: background 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px var(--brown-900);
  }
  .tdbutton:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px var(--brown-900);
  }